
.window_block_1 {
  width: 500px;
  height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding-bottom: 20px;
  /* display: none; */
}

.window_text_1 {
  width: 26.05vw;
  height: 2.35vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 40, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Semibold;
  text-align: left;
  white-space: nowrap;
  line-height: 2.35vw;
  margin-bottom: 20px;
  margin-top: 20px;
}

.window_text_2 {
  width: 26.05vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.04vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-bottom: 5px;
  margin-top: 5px;
}

.window_box_1 {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 5px;
  width: 26.05vw;
  height: 2.3vw;
  margin-bottom: 5px;
  margin-top: 5px;
}

.window_text_3 {
  width: 1.46vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
}

.window_group_1 {
  width: 0.42vw;
  height: 0.32vw;
  background: url(./img/SketchPng93eeb9696f5cedda9ff7f1e70591fc5dc8b68310a0b79c3bc9adae8b5d19e759.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.window_text_4 {
  width: 26.05vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.04vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-bottom: 5px;
  margin-top: 5px;
}

.window_box_2 {
  width: 25.47vw;
  height: 2.3vw;
  margin-bottom: 5px;
  margin-top: 5px;
}

.window_text_5 {
  width: 1.67vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
  margin-top: 0.68vw;
}

.window_block_2 {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 5px;
  width: 22.61vw;
  height: 2.3vw;
}

.window_box_3 {
  width: 25.47vw;
  height: 2.3vw;
  margin-bottom: 5px;
  margin-top: 5px;
}

.window_text_6 {
  width: 1.67vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
}

.window_group_2 {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 5px;
  width: 22.61vw;
}

.window_box_4 {
  width: 25.47vw;
  height: 2.3vw;
  margin-bottom: 5px;
  margin-top: 5px;
}

.window_text_7 {
  width: 1.67vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.15vw;
}

.window_group_3 {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 5px;
  width: 22.61vw;
  height: 2.3vw;
}

.window_text_8 {
  width: 26.05vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.04vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 15px;
  margin-bottom: 10px;
}

.window_box_5 {
  width: 26.05vw;
  height: 8.34vw;
  background: url(./img/SketchPng0b5eefb7beda1fa8b88a6e399f2e4fda2b2c57398eaf8a1ba7249ee46488197d.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.window_text_9 {
  width: 26.05vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.04vw;
  font-family: PingFangSC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 15px;
  margin-bottom: 10px;
}

.window_box_6 {
  width: 26.05vw;
  height: 8.34vw;
  background: url(./img/SketchPng0b5eefb7beda1fa8b88a6e399f2e4fda2b2c57398eaf8a1ba7249ee46488197d.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.window_box_7 {
  background-color: rgba(246, 139, 64, 1);
  border-radius: 5px;
  height: 2.5vw;
  width: 13.03vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window_text-wrapper_1 {
  background-color: rgba(16, 177, 126, 1);
  border-radius: 5px;
  height: 2.5vw;
  width: 13.03vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window_text_10 {
  width: 1.98vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  text-align: center;
  white-space: nowrap;
  line-height: 1.31vw;
}
