{% load staticfiles%}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SavourDao</title>
  <script src="{% static 'js/flexible.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.response.css'%} " />
</head>
<body>
  <div class="page flex-col">
    <div class="block_1 flex-col">
      <div class="block_2 flex-col"></div>
      <div class="block_3 flex-row justify-between">
        <div class="box_1 flex-col justify-between">
          <div class="box_2 flex-row justify-between">
            <div class="group_1 flex-col">
              <div class="box_3 flex-col justify-between">
                <img class="label_1" referrerpolicy="no-referrer"
                  src="{% static 'img/ios.png'%}" />
                <span class="text_1">IOS</span>
              </div>
            </div>
            <div class="group_2 flex-col">
              <div class="group_3 flex-col justify-between">
                <div class="group_4 flex-col">
                   <img class="label_1" referrerpolicy="no-referrer"
                  src="{% static 'img/andorid.png'%}" />
                </div>
                <span class="text_2" style="margin-top:8px">Android</span>
              </div>
            </div>
          </div>
          <div class="box_4 flex-col">
            <div class="box_5 flex-col">
              <img class="image_1" referrerpolicy="no-referrer"
                src="{% static 'img/andorid.png' %}" />
              <span class="text_3">Download&nbsp;for</span>
            </div>
          </div>
        </div>
        <span class="paragraph_1">
          你可以在一个地方掌控你的所有Token，NFT等加密资产，
          <br />
          我们支持数十万个代币和上百个&nbsp;dapps&nbsp;，
          <br />
          你可以通过手机或浏览器上探索去中心化世界，
          <br />
          我们以行业领先的安全性技术保护大家的数字资产。
        </span>
      </div>
      <div class="block_4 flex-col">
        <div class="text-wrapper_1 flex-row">
          <span class="paragraph_2">
            多链协议
            <br />
          </span>
        </div>
        <div class="box_6 flex-row">
          <div class="image-wrapper_1 flex-col">
            <img class="image_2" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng0342516e9d38a8a6426cdfe200835004a82a459ce62986268989a301cbdb8d44.png' %}" />
            <img class="image_3" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng9f3e3576cfd311c3a265170150e561902f355e416e71945b73e1b7e54c872e43.png' %}" />
            <img class="image_4" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPngf45abe93ca4fd9c3740119e7afa19828ff34d784676ffa8ec7b6dad22f21ce61.png' %}" />
          </div>
          <div class="image-wrapper_2 flex-col justify-between">
            <img class="image_5" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPngd257495686d5273befa73ef5136eea04404a01c7acd4f39078217ee09af44aeb.png' %}" />
            <img class="image_6" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng7239b264329f48b062f8c8ab901d0b6cacc1b0f69ccb9fd2b9923e750f455cc1.png' %}" />
          </div>
          <div class="box_7 flex-col">
            <div class="image-wrapper_3 flex-row justify-between">
              <img class="label_2" referrerpolicy="no-referrer"
                src="{% static 'img/SketchPngba806586fd2f4f26f97d41d150b39260ce0c160c6c666ac887ec06af0a4a0f45.png' %}" />
              <img class="label_3" referrerpolicy="no-referrer"
                src="{% static 'img/SketchPngfbead8f51ccab427a5a4fb0a13e4164ad197684a8cf26c857796e6d46977bb4f.png' %}" />
            </div>
            <img class="image_7" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng1bce54a16e72da8da7a0371db781424d671b423ff8b0cd00b80022fea2a8e7e4.png' %}" />
            <div class="image-wrapper_4 flex-row justify-between">
              <img class="label_4" referrerpolicy="no-referrer"
                src="{% static 'img/SketchPngb59857bbbbb6519859edce52dfa5eb72232c553604d5931ae42dba7ea101af32.png' %}" />
              <img class="label_5" referrerpolicy="no-referrer"
                src="{% static 'img/SketchPng600c766885849652722ad1026c6b623ea1dea010fce8a84bd4334ec28cfd7b15.png' %}" />
            </div>
          </div>
          <img class="image_8" referrerpolicy="no-referrer"
            src="{% static 'img/SketchPng7fd6acc494802e43aa321f173046164c36a55a02083640ca1643047483d1fc46.png' %}" />
          <div class="image-wrapper_5 flex-col justify-between">
            <img class="image_9" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng5a15b13c864768d6782802fa19c464ca196e44fb2b2814a8bc1990ca7e6a686d.png' %}" />
            <img class="image_10" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng85b986ebb8b5d4887aeffadc3808f7526f85c5af8e18f0c2c29797ea3a356b0d.png' %}" />
          </div>
        </div>
        <span class="text_4">
          我们支持&nbsp;Ethereum、Solana、BNB、Polygon、Tron&nbsp;、Avalanche等多链资产，未来也将会在内部支持跨链功能
        </span>
        <img class="image_11" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng9d7510dedc3adffbd638cd5a104862ff07f3a493bfd2609d6e283b7792ca498d.png' %}" />
        <img class="image_12" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng9d7510dedc3adffbd638cd5a104862ff07f3a493bfd2609d6e283b7792ca498d.png' %}" />
        <div class="image-wrapper_6 flex-col">
          <img class="image_13" referrerpolicy="no-referrer"
            src="{% static 'img/SketchPngc5592cb6764e53e364f93e11d9cb0ad1525a379f1ec841db0ba1861b063e7d24.png' %}" />
        </div>
        <img class="image_14" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng523402221830e89a5b4bc3514fcc9c400ade1c02f571e69b4b13b67164234160.png' %}" />
        <img class="image_15" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPngca36583f5c0176c7174a413fb4826ef684203b8e47cb9f63b060460043a2175c.png' %}" />
        <img class="image_16" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng84567cd11fb1a9dfbbcd8bad609e014217041220733c1d6fc9dab73c5a036ee9.png' %}" />
        <span class="text_5">OP</span>
        <img class="image_17" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPngec2540ad998fd5737392f492a829c8e75b31d3c2ee8058c18eb5b0fa81ac6f54.png' %}" />
        <img class="image_19" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPngfc3e9c3ddd77c13b6510fa7e0d2fb4f58f093de6f712e93c194d0a2fa558f233.png' %}" />
        <img class="image_20" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPngeaa9ad665eb548a25080c1820ab184329e8abd03171c766f2de1402ae096105e.png' %}" />
        <img class="image_21" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng41556aa6fc29f642a8b0619b5a073130a1ff8e8b19df067a2ad0f3835e701873.png' %}" />
        <div class="image-wrapper_7 flex-col">
          <img class="image_22" referrerpolicy="no-referrer"
            src="{% static 'img/SketchPng77565362b1db9bb60d3b695da2134420cb8fcddc70334cc15afc2d6509d051ad.png' %}" />
        </div>
        <img class="image_23" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng23329365323433c7156aadc504771f6102ac9d588c4d077cf75aed28bb090c12.png' %}" />
        <img class="image_24" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPnge70c49b26dff2eed8f96c9d1457dfa330cdeabf94558ef7c8648efb56747e0d4.png' %}" />
        <img class="image_25" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng4b1d271ae2702babf9a2e01e0e96647f1d1ee4fe66a74d4474591037e602b565.png' %}" />
        <img class="image_26" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng635973e4c4eaaad3ed213bccdf5a9a3ec095b7f445caa29f65b56c0074748fee.png' %}" />
        <img class="image_27" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng635973e4c4eaaad3ed213bccdf5a9a3ec095b7f445caa29f65b56c0074748fee.png' %}" />
      </div>
      <div class="block_5 flex-row">
        <span class="text_6">
          也许我们不是第一个NFT钱包，但是我们是有着史上最全面、最有趣NFT玩法的钱包，我们开心的称它为NFT游乐场！
        </span>
        <span class="paragraph_3">
          这是一个NFT游乐场
          <br />
        </span>
        <div class="group_5 flex-col"></div>
      </div>
      <div class="block_6 flex-row">
        <div class="block_7 flex-col"></div>
        <span class="paragraph_4">
          让我们以去中心化的身份，链接到元宇宙世界，
          <br />
          让我们通过元宇宙的入口，去探索下一个文明。
        </span>
        <span class="paragraph_5">
          这将是一个通向元宇宙的入口
          <br />
        </span>
      </div>
    </div>
    <div class="block_8 flex-col">
      <div class="section_1 flex-row">
        <div class="box_8 flex-col">
          <div class="group_6 flex-row">
            <img class="image_28" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng0e7fba0f821494adcc8f2bccb7d52092f5872f1460a40a6bfb39f1b1bcbd6e9b.png' %}" />
            <div class="text-wrapper_2 flex-col">
              <a class="text_7" href="{% url 'index' %}">首页</a>
            </div>
            <a class="text_8" href="https://github.com/SavourDao/docs/blob/main/product/Readme.md">产品</a>
            <img class="thumbnail_1" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng7734f7f67e0d4cac757dd2826f20ba4663bd70cbfdc1c839c4da99f7d19d3364.png' %}" />
          </div>
          <span class="paragraph_6">
            这是一个Web3实验室
            <br />
          </span>
<!--          <div class="group_7 flex-col">-->
<!--            <button class="text-wrapper_3 flex-col">-->
<!--              <a class="text_9" href="{% url 'join_submit'%}?show_window=yes">申请加入</a>-->
<!--            </button>-->
<!--          </div>-->
        </div>
        <a class="text_10" href="#">开发者</a>
        <div class="box_9 flex-col justify-between">
          <div class="block_9 flex-row">
            <a class="text_11" href="#">人才计划</a>
            <a class="text_12" href="#">社区</a>
            <a class="text_13" href="#">支持</a>
            <a class="text_14" href="#">关于</a>
            <img class="thumbnail_2" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng7734f7f67e0d4cac757dd2826f20ba4663bd70cbfdc1c839c4da99f7d19d3364.png' %}" />
            <a class="text_15" href="#">文档</a>
            <img class="thumbnail_3" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng4afb25a67c805921f416ec2240bbe66457d510d9569414731e6de1a4f09e8843.png' %}" />
            <a class="text_16" href="#">中文</a>
          </div>
          <img class="image_29" referrerpolicy="no-referrer"
            src="{% static 'img/SketchPngabb0d145a03c77384dd13c7ea62ed861be593bc28c3f92081b39f3af5871ff0e.png' %}" />
        </div>
      </div>
      <span class="text_17">
        我们是一群热爱Web3的建造者，我们要用DAO的方式运营、构建一个通往区块链，元宇宙的入口。期待同样喜欢Web3的小伙伴加入我们，一起感受趣味，收获价值，成长自己。
      </span>
      <div class="section_2 flex-col">
        <div class="block_10 flex-col">
          <div class="block_11 flex-row justify-between">
            <img class="label_6" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng248ccfbe30eacb0e51011a0a7bb9dab5ed1ca0e4226818c6dea7b17ac06bf5f5.png' %}" />
            <span class="text_18">成长</span>
          </div>
          <div class="block_12 flex-row justify-between">
            <img class="image_30" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng5dbe51257588869e4b300c43f49759bd48e8c903061ca7b5b114d42db9ecad1f.png' %}" />
            <span class="text_19">趣味</span>
          </div>
          <div class="block_13 flex-row justify-between">
            <img class="image_31" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPng0ff00c7d86f4817555e9dc0cf379da0b4f9f7ed0cce0d990b02d50d10d76a726.png' %}" />
            <span class="text_20">收获</span>
          </div>
        </div>
      </div>
    </div>
    <div class="image-wrapper_8 flex-col">
      <img class="image_32" referrerpolicy="no-referrer"
        src="{% static 'img/SketchPngf3403fc1402717441d104b3d8dd880471350c5718d65d02afc81dd89084b3f92.png' %}" />
    </div>
    <span class="text_21">这是第一个以DAO形式打造的NFT钱包</span>
    <div class="block_14 flex-col">
      <div class="image-wrapper_9 flex-col">
        <img class="image_33" referrerpolicy="no-referrer"
          src="{% static 'img/SketchPng81d36e6fa19fb29359c682e886904ff0057ce077a65bd97ce8bf2c4853317780.png' %}" />
      </div>
    </div>
    <span class="paragraph_7">
      Download&nbsp;for
      <br />
    </span>
    <img class="image_34" referrerpolicy="no-referrer"
      src="{% static 'img/SketchPng8e6edcf54a543379cf49fef36d0970f207c03e2a5ebf0445fb02f115af4de26c.png' %}" />
    <img class="image_35" referrerpolicy="no-referrer"
      src="{% static 'img/SketchPngb872d3df0c34ddb2b665840bde07b5d67c3130cf907c6be26b92f9143d7bc5f3.png' %}" />
    <div class="block_15 flex-col">
      <div class="text-wrapper_4 flex-row">
        <span class="paragraph_8">
          TEAM
          <br />
        </span>
      </div>
      <div class="group_9 flex-row justify-between">
        {% for team in team_lists%}
          <div class="block_16 flex-col">
               <img src="{% url 'index' %}media/{{ team.image }}" />
          </div>
        {% endfor %}
      </div>
      <div class="text-wrapper_7 flex-row justify-between">
        {% for team in team_lists%}
            <span class="text_34">{{ team.position }}</span>
        {% endfor %}
      </div>
      <div class="text-wrapper_8 flex-row justify-between">
        {% for team in team_lists%}
            <span class="text_40">{{ team.name }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="block_22 flex-col">
      <div class="box_16 flex-col justify-between">
        <div class="group_10 flex-col"></div>
        <div class="group_11 flex-row">
          <span class="paragraph_9">
            了解更多
            <br />
            <br />
          </span>
          <span class="paragraph_10">
            合作伙伴
            <br />
            <br />
          </span>
          <div class="text-wrapper_9 flex-col justify-between">
            <span class="paragraph_11">
              联系
              <br />
            </span>
            <span class="paragraph_12">
              <a href="#">Discord</a>
              <br />
              <br />
              <a href="#">Twitter</a>
              <br />
              <br />
              <br />
            </span>
          </div>
          <div class="text-wrapper_10 flex-col justify-between">
            <span class="text_46">SavourDao 团队</span>
            <span class="paragraph_13">
              <a href="#">加入我们</a>
              <br />
            </span>
          </div>
          <div class="group_12 flex-col">
            <img class="image_36" referrerpolicy="no-referrer"
              src="{% static 'img/SketchPngffcfd52b4213af59b7a7bd6512f71ad37547013fbd3d43aa1a776891f5c76d15.png' %}" />
            <span class="paragraph_14">
              我们的最新动态及进展，都会第时间发送到您的邮箱
              <br />
            </span>
            <div class="group_13 flex-col">
              <div class="text-wrapper_11 flex-col">
                <span class="text_47">订阅</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="paragraph_15">
        订阅获取最新消息
        <br />
      </span>
      <span class="paragraph_16">
        <a href="#">开发者文档</a>
        <br />
        <br />
        <a href="#">关于我们</a>
        <br />
        <br />
        <a href="https://github.com/savourDao">GitHub</a>
        <br />
        <br />
      </span>
      <span class="paragraph_17">
        <a href="https://www.wenwoha.com/">问我社区</a>
        <br />
        <br />
        <a href="https://www.chaineye.info/">链眼社区</a>
        <br />
        <br />
        <a href="https://gingernet.vip/">木姜子科技</a>
        <br />
        <br />
        <a href="http://bj.gingernet.vip/">币家社区</a>
        <br />
        <br />
        <br />
      </span>
      <span class="paragraph_18">
        欢迎加入我们
        <br />
      </span>
    </div>
  </div>
  {% if show_window == "yes" %}
     {% include 'web/window.html' %}
  {% endif %}
</body>

</html>