{% load staticfiles%}
<form action="{% url 'join_submit' %}" method="get">
  <div class="window_block_1 flex-col">
      <span class="window_text_1">欢迎加入Savour&nbsp;DAO</span>
      <span class="window_text_2">请选择您的意向岗位</span>
      <select class="window_box_1 flex-row">
          {% for pos in pos_lists %}
            <option value="1">{{ pos.name }}</option>
          {% endfor %}
          <div class="window_group_1 flex-col"></div>
      </select>
      <span class="window_text_4">请填写您联系方式</span>
      <div class="window_box_2 flex-row justify-between">
          <span class="window_text_5">微信</span>
          <input class="window_block_2 flex-col" type="text" />
      </div>
      <div class="window_box_3 flex-row justify-between">
          <span class="window_text_6">邮箱</span>
          <input class="window_group_2 flex-col" type="text" />
      </div>
      <div class="window_box_4 flex-row justify-between">
          <span class="window_text_7">手机</span>
          <input class="window_group_3 flex-col" type="text" />
      </div>
      <span class="window_text_8">请填写您的项目经验</span>
      <textarea class="window_box_5 flex-col"></textarea>
      <span class="window_text_9">请填写您的专业技能</span>
      <textarea class="window_box_6 flex-col"></textarea>
      <div class="window_box_7 flex-col">
          <button class="window_text-wrapper_1 flex-col" style="cursor: pointer;">
              <span class="window_text_10">提交</span>
          </button>
      </div>
  </div>
</form>