{% load staticfiles%}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/dialog.css'%}" />-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/dialog.response.css'%} " />-->
<div class="el-dialog__wrapper express-dialog show">
<div class="page flex-col">
    <div class="block_1 flex-col">
      <span class="text_1">欢迎加入Savour&nbsp;DAO</span>
      <span class="text_2">请选择您的意向岗位</span>
      <select class="box_1 flex-row">
        <option value="1">全部</option>
        <option value="2">所有</option>
        <option value="3">allin</option>
        <div class="group_1 flex-col"></div>
      </select>
      <span class="text_4">请填写您联系方式</span>
      <div class="box_2 flex-row justify-between">
        <span class="text_5">微信</span>
        <input class="block_2 flex-col" type="text" />
      </div>
      <div class="box_3 flex-row justify-between">
        <span class="text_6">邮箱</span>
        <input class="group_2 flex-col" type="text" />
      </div>
      <div class="box_4 flex-row justify-between">
        <span class="text_7">手机</span>
        <input class="group_3 flex-col" type="text" />
      </div>
      <span class="text_8">请填写您的项目经验</span>
      <textarea class="box_5 flex-col"></textarea>
      <span class="text_9">请填写您的专业技能</span>
      <textarea class="box_6 flex-col"></textarea>
      <div class="box_7 flex-col">
        <button class="text-wrapper_1 flex-col" style="cursor: pointer;">
          <span class="text_10">提交</span>
        </button>
      </div>
    </div>
  </div>
</div>